/* Estilos generales para el contenedor del balance general */
.estado-container {
    max-width: 75%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    font-family: Arial, sans-serif; 
}

/* Estilo para los encabezados */
.estado-container h3,
.estado-container h4,
.estado-container h5 {
    color: #213547; /* Color del texto de los encabezados */
}

.estado-container p {
    color: #213547; /* Color del texto */
    font-size: 16px; /* Tamaño de fuente */
    margin: 15px 0; /* Espaciado vertical */
    text-align: center; /* Centra el texto */
    font-weight: bold; /* Negritas para destacar el mensaje */
    background-color: #f9f9f9; /* Fondo suave */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde sutil */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilos para los labels */
.estado-container label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555; /* Color gris para las etiquetas */
}

/* Estilos para los selectores */
.estado-container select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px; /* Cambia el tamaño máximo según tus necesidades */
    transition: border-color 0.3s;
}

/* Efecto al hacer hover en el selector */
.estado-container select:hover {
    border-color: #007bff; /* Color del borde al pasar el mouse */
}

/* Estilo para las opciones */
.estado-container select option {
    padding: 10px; /* Aumenta el padding de las opciones */
    background-color: #f9f9f9; /* Fondo de las opciones */
}

/* Estilo para la opción seleccionada */
.estado-container select option:checked {
    background-color: #007bff; /* Fondo de la opción seleccionada */
    color: #ffffff; /* Color del texto de la opción seleccionada */
}

/* Estilo para las opciones al hacer hover */
.estado-container select option:hover {
    background-color: #0056b3; /* Fondo al pasar el mouse sobre una opción */
    color: #ffffff; /* Color del texto al pasar el mouse sobre una opción */
}

/* Estilos para las listas */
.estado-container ul {
    padding-left: 20px; /* Agrega un margen izquierdo para las listas */
}

.estado-container li {
    color: #555; /* Color gris para el texto de los elementos de la lista */
    margin-bottom: 5px; /* Espaciado entre los elementos de la lista */
}

.alinear-derecha {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }  

.form-group, .json{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.botonesOpciones{
    display: flex;
    justify-content: center;
    align-items:end;
    gap: 30px;
}

.form-group button, .json button{
    margin-left: 10px;
    width: 200px;
    padding: 8px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #213547;
    font-size: 16px;
    font-weight: bold;
    color: #213547;
    outline: none;
    cursor: pointer;
  }
  
  .form-group button:hover, .json button:hover{
    background-color: #192937;
    color: white;
  }